@font-face {
  font-family: noto-emojipedia-fallback;
  font-style: normal;
  font-weight: 400;
  src: url('/NotoEmoji-VariableFont_wght.ttf')
}

* {
  font-family: Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji, Android Emoji, EmojiSymbols, EmojiOne Mozilla, Twemoji Mozilla, Segoe UI Symbol, Noto Color Emoji Compat, emoji, noto-emojipedia-fallback;
  font-weight: 400;
}

#canvas_container {
  position: relative;
  width: 300px;
  height: 300px;
}

#canvas_front, #canvas {
  border: 2px solid #888;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  z-index: 0;
}

#canvas_front {
  z-index: 1;
}

#canvas_back {
  display: none;
}

#map {
  border: 5px solid #000;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#toolbar {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

#toolbar button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 48px;
}

p.messagebox::before, .messagebox p::before, .content p::before, #craftingresults p::before, .craftingrecipes p.hint::before, #puzzleView p::before {
  content: "💬 ";
}

.content img {
  vertical-align: middle;
}

.messagebox {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 5;
  background: #EFFFC2;
  border: 2px solid #888;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  visibility: hidden;
}

.messagebox p {
  margin: 0;
  padding-right: 36px;
}

.messagebox .closeMessagePosition {
  position: absolute;
  right: 34px;
  top: 0;
}

.messagebox .closeMessage {
  position: fixed;
}

#talkMessageBox {
  overflow-y: auto;
  height: 44px;
  min-width: 300px;
  max-width: 500px;
}

.emphasis {
  text-decoration: underline dotted;
  font-weight: bold;
}

#log, #backpackview {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #EFFFC2;
  border: 2px solid #888;
  border-radius: 10px;
  width: 75%;
  height: 75%;
  display: none;
  z-index: 10;
  margin: 20px auto;
  box-shadow: 0px 0px 5px 0px #888;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}

#backpackview {
  background: rgb(113, 8, 16);
  background: linear-gradient(180deg, rgba(113, 8, 16, 1) 0%, rgba(152, 15, 25, 1) 68%, rgba(0, 0, 0, 1) 100%);
  border: 2px solid #000;
  box-shadow: 0px 0px 5px 0px #000;
  color: #FFF;
}

#log::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 40px;
}

.tabs {
  position: relative;
  top: -40px;
  left: 56px;
  z-index: 11;
}

.tabs button {
  font-size: 32px;
  cursor: pointer;
}

#pattern {
  display: flex;
  height: 100%;
  background-image: repeating-linear-gradient(#EFFFC2 0px, #EFFFC2 26px, teal 27px);
}

.craftingview {
  padding-left: 56px;
  font-size: 18px;
}

.craftingslots {
  padding-right: 16px;
  white-space: nowrap;
}

.craftingrecipes {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  background: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}

.craftingrecipes::before {
  content: 'Recipes';
  position: sticky;
  top: 0px;
  background: #000;
  display: block;
  padding: 5px;
  padding-left: 10px;
}

.craftingrecipes .spacer {
  scroll-snap-align: start;
}

.craftingrecipes p {
  cursor: pointer;
  scroll-snap-align: start;
  padding: 18px 0px 18px 10px;
  margin: 0px;
}

.craftingrecipes p.recipe:hover {
  background-color: #000;
}

.craftingslot {
  vertical-align: middle;
  text-shadow: #FFF 1px 0 10px;
}

.craftingslot, #clearcraftingslot {
  display: inline-block;
  border: 2px dashed #888;
  background-color: #000;
  width: 80px;
  height: 70px;
  font-size: 48px;
  text-align: center;
}

#clearcraftingslot {
  border: 2px solid #888;
  cursor: pointer;
}

#craftingresults {
  cursor: pointer;
  display: inline-block;
  width: 240px;
  min-height: 120px;
  vertical-align: middle;
  white-space: normal;
}

#craftbutton, #resetrecipes {
  margin-left: 10px;
  border: 2px solid #888;
  font-size: 20px;
  text-align: center;
}

#craftbutton .icon, #resetrecipes .icon {
  font-size: 48px;
}

.content {
  flex-grow: 1;
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 27px;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 5px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.content p {
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  scroll-snap-align: start;
}

#backpackview .content .row p {
  scroll-snap-align: none;
}

#backpackview .content .row {
  cursor: grab;
  font-size: 48px;
  position: relative;
  scroll-snap-align: start;
  box-shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.1),
    0 2px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.backpackItem {
  display: inline-block;
  font-size: 28px;
}

.backpackItemButtons {
  position: absolute;
  top: 15px;
  right: 0px;
}

.dropItemButton, .dropStatefulItemButton, .eatItemButton {
  font-size: 32px;
}

#apps {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 75%;
  height: 75%;
  z-index: 10;

  display: none;
}

#closeapps, #closeshop {
  position: relative;
  right: 0px;
  font-size: 32px;
  cursor: pointer;
}

#apps iframe {
  display: none;
}

#apps #puzzle {
  display: none;
  background: #FFF;
  width: 100%;
  height: 100%;
}

#puzzleView {
  padding: 10px;
}

#puzzleCanvas {
  border: 2px solid #000;
}

#puzzleView p {
  cursor: pointer;
}

.puzzleQuestion {
  font-size: 18px;
}

#puzzleAnswer {
  position: relative;
  padding: 10px;
  left: 0px;
  bottom: 0px;
}

#art {
  background: #FFFFFF;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  vertical-align: bottom;
}

.lds-ripple div, .lds-ripple span {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2), .lds-ripple span:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#shopview {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 75%;
  height: 75%;
  display: none;
  z-index: 10;
  background: #c2f2ff;
  border: 2px solid #888;
  border-radius: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.moneyavailable, .purchaseInstruction {
  padding: 0px;
  margin-left: 12px;
  display: inline-block;
  cursor: pointer;
}

.moneyavailable p {
  margin: 0px;
}

#purchase {
  display: inline-block;
  border: 2px dashed #888;
  width: 80px;
  height: 70px;
  font-size: 48px;
  text-align: center;
}

.shopItems {
  display: inline-block;
}

.shopItem {
  cursor: grab;
	margin: auto;
  display: inline-block;
  /* border: 2px solid #000;
  border-radius: 10px;
  background: #000;
  box-shadow: 3px 5px 5px #000; */
  color: #fff;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.shopItem .itemDisplay {
  font-size: 48px;
  text-shadow: 5px 7px 10px #222;
  z-index: 0;
}

:root {
  --pricetag-wobble: 5deg; 
}

.price {
  user-select: none;
  cursor: pointer;
  transform: rotate(var(--pricetag-wobble)) translate(0px, -5px);
  color: #000;
  background: #EFFFC2;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0;
  margin-left: 3px;
  z-index: 5;
  position: relative;
}

.price::before, .moneyavailable p::before, p.purchaseInstruction::before {
  content: "💬 ";
}

/* .shopItem span:before {
	content: '';
  display: block;
  width: 80%;
  height: 1em;
  background: rgba(0,0,0,.35);
  border-radius: 50%;
  position: absolute;
  bottom:-10px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index:-5;
} */

.shelf {
  position: relative;
	border-bottom: 30px solid #d1a961;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
	top: -35px;
	z-index: -10;
  margin-bottom: 10px;
}

.shelf:after {
	content: '';
	background: #60462c;
	height: 20px;
	width: calc(100% + 40px); /*IE9+*/
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 -20px;
}